# Copyright (c) 2026 GD32H7xx Zephyr bring-up
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_GD32H7XX
	select ARM
	select CPU_CORTEX_M7
	select CPU_CORTEX_M_HAS_DWT
	select CPU_HAS_FPU
	select CPU_HAS_FPU_DOUBLE_PRECISION
	select CPU_HAS_ICACHE
	select CPU_HAS_DCACHE
	select CPU_HAS_ARM_MPU
	select GD32_HAS_AF_PINMUX
	select GD32_HAS_IRC_32K
	select SOC_EARLY_INIT_HOOK
	help
	  Enable support for GigaDevice GD32H7xx MCU series
