# Copyright (c) 2026 GD32H7xx Zephyr bring-up
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_GD32H7XX
	bool
	select SOC_FAMILY_GD_GD32
	help
	  Enable support for GigaDevice GD32H7xx MCU series

config SOC_SERIES
	default "gd32h7xx" if SOC_SERIES_GD32H7XX

config SOC_GD32H759
	bool
	select SOC_SERIES_GD32H7XX

config SOC
	default "gd32h759" if SOC_GD32H759
